body
{
    background-size: cover;
}

.heading button
{
    background-color: chocolate;
    color: white;
    size: 40px;
    float: right;
}

.heading h2
{
    color: white;
    text-size-adjust: 40px;
}

.heading
{
    width: 100%;
    text-align: left;
}